/**quiz.component.css**/

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.quiz-card {
    margin: 20px 0;
}

.question-card {
    margin: 10px 0;
}

mat-card-title {
    font-weight: bold;
}


.feedback {
    margin-top: 10px;
}

.correct {
    color: #4caf50;
}

.incorrect {
    color: #f44336;
}


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .quiz-card {
        margin: 10px 0;
    }

    .question-card {
        margin: 5px 0;
    }
}

mat-card-content p {
    margin: 5px 0;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.score {
    text-align: center;
    margin-top: 20px;
}