<app-header></app-header>
<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <!-- Display the profile image or default image -->
                <div class="image-preview">
                    <img *ngIf="imagePreview" [src]="imagePreview" alt="Profile Image" width="150px" />
                    <img *ngIf="!imagePreview" 
                         src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" 
                         alt="Default Profile Image" 
                         width="150px" />
                  </div>
              
              
                <span class="font-weight-bold"></span>
                <span class="text-black-50">{{ email }}</span>
                <span></span>
              </div>        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"  placeholder="enter Name" formControlName="name"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" formControlName="mobile"></div>
                    <div class="col-md-12"><label class="labels">Address Line </label><input type="text" class="form-control" placeholder="enter address line " formControlName="address"></div>
                    <!-- <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div> -->
                </div>
               
                <div class="mt-5 text-center">
                    <!-- <button class="btn btn-primary profile-button" type="button">Save Profile</button> -->
                    <button  class="btn btn-primary profile-button" type="submit"  [disabled]="isLoading"> <a class="prd-btn-1 mt" style="color: white;">  {{ isLoading ? 'Loading...' : 'Save Profile' }}
                        </a></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="col-md-12"><label class="labels">Upload Resume  (PDF only)</label><input type="file" class="form-control" placeholder="Resume" formControlName="resume" (change)="onResumeSelected($event)">
                    <div *ngIf="resumeError" class="error">{{ resumeError }}</div>
                </div> <br>
                <div class="col-md-12"><label class="labels">Upload Image (JPEG/PNG only, max 2MB)</label><input type="file" class="form-control" placeholder="Image "formControlName="image"     (change)="onImageSelected($event)" 
                    >
                    <div *ngIf="imageError" class="error">{{ imageError }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
